body{
	background-color: #A9CDDD;
}
.content{
	display: inline-block;
	margin-left: 5%;
	max-width: 90%;
	margin-bottom: 10%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
	text-indent:  1%;
}
h1{
	font-weight: 600;
}
img{
	max-width: 50%;
	max-height: 50%;
	
}
#restart,#result{
	width: 20%;
	height: 15%;
	font-weight: bold;
	background-color: #6BC5A4;
	margin-top: 5%;
	cursor: pointer;
	text-align: center;
	border: solid 5px #98E0D8;
	padding: 1%;
}